<div>
  <h1>pricing</h1>
  <p class="descrption">
    The preconfigured packages offer everything needed to get started quickly.
    Don’t see what you’re looking for? Visit our
    <span class="span"> sensors and components store</span> or
    <span class="span">contact us.</span>
  </p>
</div>

<div class="btn-groub-pricing">
  <button routerLink="dev">
    <i  routerLinkActive="active-rout" class="fas fa-caret-right"></i>
    Developer Package
  </button>
  <button routerLink="explorer">
    <i  routerLinkActive="active-rout" class="fas fa-caret-right"></i>
    Explorer Package
  </button>
  <button routerLink="vision">
    <i  routerLinkActive="active-rout" class="fas fa-caret-right"></i>
    Vision Package
  </button>
</div>
<div class="routing-price">
  <router-outlet></router-outlet>
</div>
