<div class="main">
  <div class="left-side">
    <h2>EXPLORER PACKAGE</h2>
    <p>
      The Lander5 Explorer Package is designed for basic autonomous operation in
      both indoor and outdoor environments. Applications range from GPS waypoint
      navigation with laser-based collision avoidance, to indoor mapping and
      path planning. A powerful Mini-ITX computer system comes pre-installed
      with Linux and ROS; all component ROS drivers are installed and
      pre-configured.
    </p>
    <div>
      <h1 class="prudact-price">24.999 <sup>EGP</sup></h1>
    </div>
    <div class="ptn-prudact">
      <button>PURCHASE</button>
    </div>
  </div>

  <div class="right-side">
    <img src="../../../assets/imgs/503.png" alt="" srcset="" />
  </div>
</div>
