<div  *ngIf="isNotHomeRoute()" class="nav-up">
  <div class="nav" >
    <div class="logo">
      <img *ngIf="isNotHomeRoute()" routerLink="" src="../assets/imgs/Group 598.png" alt="">
    </div>
    <div class="list">
      <ul>
        <li routerLink="/pricing"  routerLinkActive="active">Pricing</li>
        <li routerLink="/dashbord"  routerLinkActive="active">Dashboard</li>
      </ul>
    </div>
  </div>
</div>
<!-- /////////// -->
<div  *ngIf="isHomeRoute()" class="nav-up-2">
  <div class="nav" >
    <div class="logo">
      <img *ngIf="isHomeRoute()" routerLink="" src="../assets/imgs/lunar-icon-light.png" alt="">
    </div>
    <div class="list">
      <ul>
        <li routerLink="/pricing"  routerLinkActive="active">Pricing</li>
        <li routerLink="/dashbord"  routerLinkActive="active">Dashboard</li>
      </ul>
    </div>
  </div>
</div>
<!-- [@state]="myOutlet.activatedRouteData['index']" -->
<div class="container" >
  <router-outlet #myOutlet="outlet"></router-outlet>
</div>