<div class="main-dash">
    <div class="ul-left">
        <ul>
            <li>Dashboard</li>
            <li>Develop</li>
            <li>Upgrade</li>
            <li>Support</li>
        </ul>
    </div>
    <!--  -->
    <div class="contant">
        <h3>Dashboard</h3>
        <div class="first-div">
            <img src="../../assets/imgs/trex wireframe.png" alt="" />
            <div class="first-div-des">
                <h3>Connected</h3>
                    <ul>
                        <li>Model: LANDERS</li>
                        <li>Seril: L3S5G-D8</li>
                        <li>Durtion: 3 hours</li>
                    </ul>
            </div>
        </div>
        <!--  second-div -->
        <div class="second-div">
            <p>Risk</p>
            <img src="../../assets/imgs/chart-risk.png" alt="" >
            <div class="second-div-risk">
                <h3>20%</h3>
                <button>Risk</button>
            </div>
        </div>
        <!-- thrd-div -->
        <div class="thrd-div">
            <p>Readings</p>
            <ul>
                <li>
                    <span>Battery:</span><span>55%</span>
                </li>
                <li>
                    <span>Voltage:</span><span>48.6 V</span>
                </li>
                <li> <span>Speed:</span><span>3 m/s</span>
                </li>
                <li> <span>Loction:</span><span> Cairo</span>
                </li>
            </ul>
        </div>
    </div>
</div>