<div class="main">
    <div class="hero">
        <div class="hero-content-left">
            <p>LUNAR ROBOTICS</p>
            <h1>
                BOLDLY GO WHERE NO
                ROBOT HAS GONE BEFORE
            </h1>
            <p>
                We build the world’s best robot development platforms.
                Developing autonomous robots has never been easier.
            </p>
            <button>Explore our robots</button>
            <button>Talk to a human</button>
            <div class="icons">
                <i class="fas fa-chevron-left"></i>
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="hero-content-right">
            <img  src="../../assets/imgs/503.png" alt="car">
        </div>
    </div>
    <div class="social">
        <i class="fab fa-youtube"></i>
        <i class="fab fa-facebook-f"></i>
    </div>
</div>